body {
  font-family: 'Karla', sans-serif;
  color: #FFF;
  margin: 0px;
}

img {
  align-content: center;
}

#hero {
  background-image: url("../images/image1.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}

#hero-overlay-black {
  position: absolute;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

#hero-overlay-blue {
  position: absolute;
  background: linear-gradient(to bottom, rgba(5,65,102,0), rgba(5,65,102,1));
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -6;
}

.hero-content {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7rem 7rem;
}

p {
  max-width: 410px;
}

.btn {
  border: 2px solid white;
  text-decoration: none;
  color: #FFF;
}

.navbar-icon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 5px;
  background-color: grey;
  margin: 6px 0;
  transition: .4s;
}

.page-header-title {
  color: grey;
  text-align: center;
}

.footer {
  position: relative;
  color: grey;
}
